body {
  background-color: #EFF0F4    
}
.breadcrumb {
  background-color: inherit;
}
.card {
  border: #fff;
  .card-header {
    border: #fff;
    background-color: #fff;
    border-bottom: 1px dashed #ccc;
  }
}
.table thead th {
  border-top: none;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #444F61;
  overflow-y: auto;
  .title {
    height: 54px;
    display: block;
    line-height: 38px;
    padding: 8px 8px 8px 16px;
    color: #fff;
    font-weight: bold;
  }
  .nav-link {
    color: #fff;
    &:hover {
      color: #9abab1;
    }
    &.active {
      color: #82C2A5;
    }
  }
}