@import "vars/variables";

body {
  color: #333;
  font-size: 0.9rem;
  font-family: "Microsoft YaHei" ! important;
}
.header {
  background: url(../image/header/background.png) no-repeat;
  background-position: center;
  &:after {
    content: '';
  }
  .header-content {
    height: 100px;
    width: 1200px;
    .form-search {
      margin-top: 12px;
      .input-group {
        height: 26px;
        width: 320px;
        .input-group-addon {
          line-height: 1;
          background: inherit;
          border: none;
          border-bottom: 1px solid #B695AE;
          border-radius: 0px;
          color: #fff;
          padding: 12px 0;
          font-size: 12px;
          height: 36px;
        }
        input[type='search'] {
          background: inherit;
          border: none;
          border-bottom: 1px solid #B695AE;
          border-radius: 0px;
          padding: 12px 0;
          font-size: 12px;
          height: 36px;
          color: #B695AE;
        }
      }
    }
  }
}
.navbar {
  background: url(../image/navbar/background.png) no-repeat;
  background-position: center;
  .nav {
    .nav-item {
      width: 166.6px;
      padding: 0px;
      height: 40px;
      color: #000;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
      &:hover {
        color: @nankai;
        border-bottom: 3px solid @nankai;
      }
    }
    .active1 { color: #fff; background: url(../image/navbar/1.png) no-repeat; }
    .active2 { color: #fff; background: url(../image/navbar/2.png) no-repeat; }
    .active3 { color: #fff; background: url(../image/navbar/3.png) no-repeat; }
    .active4 { color: #fff; background: url(../image/navbar/4.png) no-repeat; }
    .active5 { color: #fff; background: url(../image/navbar/5.png) no-repeat; }
    .active6 { color: #fff; background: url(../image/navbar/6.png) no-repeat; }
  }
}
.swiper-button-container {
  height: 100%; 
  width: 1200px; 
  margin: 0 auto; 
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translate(-50%, 0); 
  z-index: 1;
  [class^="swiper-button-"] {
    background-color: rgba(0, 0, 0, .2);
    background-image: none;
    font-size: 28px;
    color: #fff;
    line-height: 44px;
  }
}
.body {
  width: 1000px;
  .col, [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
  .swiper-equipment {
    height: 140px;
    position: static;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
    img {
      height: 130%;
      width: 100%;
      display: block;
      margin-top: -5%;
      z-index: -200;
    }
  }
  .swiper-description {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding: 20px 0;
    .equipment-link {
      font-size: 14px;
      color: #666;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .form-login {
    .form-control, .input-group-sm>select.form-control:not([size]):not([multiple]) {
      border-color: rgba(0,0,0,.4);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      font-size: 14px;
      color: #999;
    }

    .btn-block {
      border-radius: 2px;
      background-color: @nankai;
      color: #fff;
    }
  }
  .site-container {
    position: static;
    cursor: pointer;
    .site-description {
      margin-top: 20px;
      font-size: 16px;
      color: #666;
    }
  }
  .link-container {
    border-top: 1px solid rgba(0,0,0,.125);
    margin: 0 -5px;
    .link-title {
      background-color: #e5e6e7;
      color: #555;
      font-size: 14px;
      flex-grow: 0;
    }
    .link-content {
      overflow-x: scroll;
      white-space: nowrap;
      a {
        font-size: 14px;
        color: #333;
      }
    }
  }
  .list-group-item {
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    color: #333;
    &:first-child {
      border-top: none;
    }
  }
}
.footer {
  height: 150px;
  background: url(../image/footer/background.png) no-repeat;
  position: relative;
  .footer-content {
    width: 1200px;
    color: #fff;
    padding-top: 50px;
    .breadcrumb .breadcrumb-item {
      &::before {
        color: #fff;
      }
      a {
        color: #fff;
        font-size: .8rem;
      }
    }
  }
  .support {
    position: absolute;
    height: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    .support-content {
      width: 1200px;
      color: #fff;
      margin: 0 auto;
      padding: 8px;
      font-size: 12px;
    }
  }
}
.article-list {
  .article-link {
    color: inherit;
    border-bottom: 1px solid #ccc;
    .article-list-item {
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      color: #333;
    }
    .article-list-content {
      margin: 20px 0 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      line-height: 16px;
    }
    &:hover {
      color: inherit;
      text-decoration: none;
      .article-list-item {
        color: @nankai !important;
        font-weight: bold;
      }
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.article-content {
  img {
    max-width: 100%;
  }
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.equipments {
  span.active {
    border: 1px solid @nankai;
    font-weight: bold;
  }
  .equipment-container {
    border-bottom: 1px dashed #ccc;
    img {
      border: 1px solid @nankai;
    }
    p {
      font-size: .8rem;
    }
    .equipment-link {
      color: #1d2124;
      &:hover {
        color: @nankai;
        text-decoration: none;
      }
    }
  }
}
.equipment {
  .col, [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
  .equipment-icon {
    width: 350px;
    height: 350px;
    border: 1px solid @nankai;
  }
}
.nankai-hr {
  border: 1px solid @nankai;
}
.form-control:focus {
  border-color: rgba(0,0,0,.15);
}
.card {
  border-radius: 0;
  border: none;
  box-shadow: none;
  .card-header {
    font-size: 18px;
    color: #333;
    background-color: #fff;
    padding: 20px 0;
    &.card-header-border {
      border-bottom: 2px solid @nankai;
    }
  }
  .card-body {
    padding: 40px 20px 0px;
  }
}
.breadcrumb-item+.breadcrumb-item::before {
  padding-right: 20px;
  padding-left: 20px;
  content: '|';
}
.breadcrumb .breadcrumb-item a {
  &.active {
    color: @nankai;
    font-weight: bold;
  }
}
.pagination {
  .page-item {
    margin: 5px;
    .page-link {
      border: none;
      color: #333;
      border-radius: .25rem;
    }
    &.active {
      .page-link {
        color: #fff;
        background-color: @nankai;
      }
    }
  }
}

// swiper
.swiper-slide-next, .swiper-slide-prev {
  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .3);
  }
}